body {
	background-color: #F4F5E9;
}

/*Navbar*/

.navbar-icon {
	width: 150px;
	height: 150px;
	margin: 15px;
}

.navbar-nav {
	list-style-type: none;
	margin-top: 125px;
}

.navbar-collapse {
	float: right;
}

.nav-link {
	margin: 20px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	font-size: 20px;
}

/*Jumbotron*/

.jumbotron {
	height: auto;
	padding: 100px;
	margin-bottom: 150px;
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: #F4F5E9;
}


.video {
/*	margin-left: auto;
	margin-right: auto;*/
/*margin-left: 400px;*/

	}

.calendar-section {
	padding: 20px;
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: #90C500;
}

.quote {
	margin-top: 30px;
	font-size: 30px;
	line-height: 75px;
}

.author {
	font-size: 20px;
	margin-right: 20px;
	float: right;
}


.btn {
	background-color: black;
}
