<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="index.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
	<title>Community Compost Project</title>
</head>

<body>

<!-- <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1716275415313253';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->

<nav class="navbar navbar-light bg-faded">
  <img class="navbar-icon" src="assets/ccp-logo.jpg" >

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container header">
    <h1>Your resource for SF gardening and composting</h1>
    <p>by Community Compost Project.</p>
  </div>
</div>



<div class="row calendar-section">


  <div class="col-md-6">
    <h3>SF Gardening Workshops and Events</h3>
    <iframe src="https://calendar.google.com/calendar/embed?title=SF%20Garden%20&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=info%40sfuaa.org&amp;color=%2329527A&amp;src=1b776ftclpqe6fnotea4n1pca0%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="600" height="400" frameborder="0" scrolling="no" class="calendar"></iframe>
    <p>Powered by SFUAA</p>
  </div>
  <div class="col-md-6">
    <p class="quote">"The single greatest lesson the garden teaches is that our relationship to the planet need not be zero-sum, and that as long as the sun still shines and people still can plan and plant, think and do, we can, if we bother to try, find ways to provide for ourselves without diminishing the world." </p>
    <p class="author">- Michael Pollan</p>
  </div>

<!--   <div class="video">
    <iframe width="560" height="315" class="video-window" src="https://www.youtube.com/embed/wHtbYeLQQko" frameborder="0" allowfullscreen></iframe>
  </div> -->

</div>

<div class="container featured-gardens">
  <h3>Local Community Gardens</h3>
    <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-thumb" src="assets/gfte-logo.jpg" alt="Garden for the Environment">
        <div class="caption">
          <h3>Garden for the Environment</h3>
          <p><a href="http://www.gardenfortheenvironment.org/" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
        </div>
      </div>
    </div>

      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-thumb" src="assets/alemany-farm-logo-green.jpg" alt="Alemany Farm">
        <div class="caption">
          <h3>Alemany Farm</h3>
          <p><a href="http://www.alemanyfarm.org/" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
        </div>
      </div>
    </div>

      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-thumb" src="assets/alchemy-community-garden.jpg" alt="Alchemy Community Garden">
        <div class="caption">
          <h3>Alchemy Community Garden</h3>
          <p><a href="https://foursquare.com/v/alchemy-community-garden/57fd27b8498eea56f61b49d1" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
        </div>
      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-thumb" src="assets/tndc-peoples-garden.jpg" alt="Tenderloin People's Garden">
        <div class="caption">
          <h3>Tenderloin People's Garden</h3>
          <p><a href="http://www.tndc.org/programs/tl-peoples-garden/" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-thumb" src="assets/ggp-community-gardens.jpeg" alt="Golden Gate Park CommUNITY Garden">
        <div class="caption">
          <h3>GGP CommUNITY Garden</h3>
          <p><a href="http://sfrecpark.org/project/golden-gate-park-community-garden/" class= "btn btn-primary" role="button" target="_blank">Visit Site</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-thumb" src="assets/urban-sprouts-logo.png" alt="Urban Sprouts at June Jordan">
        <div class="caption">
          <h3>Urban Sprouts @ June Jordan</h3>
          <p><a href="http://www.urbansprouts.org/programs/june-jordan-school-for-equity/" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
        </div>
      </div>
    </div>

</div>
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-thumb" src="assets/fort-mason-community-garden.png" alt="Fort Mason Community Garden">
        <div class="caption">
          <h3>Fort Mason Community Garden</h3>
          <p><a href="http://www.fortmasoncommunitygarden.org/" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="footer">
  <p>&copy; Community Compost Project 2015</p>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="script.js"></script> -->

</body>
</html>